<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.diabeticguard">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logoo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logoo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Foot"></activity>
        <activity
            android:name=".daily_care"
            android:label="Daily Care" />
        <activity
            android:name=".laboratory"
            android:label="Analysis Lab" />
        <activity
            android:name=".blood_pressure"
            android:label="Blood Pressure" />
        <activity
            android:name=".addmedication"
            android:label="Add New" />
        <activity
            android:name=".medication"
            android:label="Clinicians/Medication" />
        <activity android:name=".video" />
        <activity
            android:name=".ask_without_picture"
            android:label="Ask without picture" />
        <activity
            android:name=".takepicture"
            android:label="Take picture" />
        <activity
            android:name=".food"
            android:label="Foods" />
        <activity
            android:name=".Main4Activity"
            android:label="User Profile" />
        <activity android:name=".Main3Activity" />
        <activity
            android:name=".Main2Activity"
            android:label="Login" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>